<h1>Feed</h1>

<table>
  <thead>
    <tr>
      <th>Goal</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.title %></td>
        <td><%= goal.user.email if goal.user %></td>
        <td><%= link_to 'Show', goal %></td>
        <% if goal.user == current_user %>
          <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
          <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Goal', new_goal_path %>
<% end %>
